
@{
    ViewBag.Title = "Index";
}

<h2>Acceder:</h2>

<div class="container">
    <div class="row">
        <a class="btn btn-default" href="~/Tabla/Index">Computadoras</a>
        <a class="btn btn-danger" href="">Impresoras</a>
    </div>
</div>
